# font
font_family   FiraCode Nerd Font
# font_family   Fira Code

# Shortcuts
map shift+insert no_op
map ctrl+shift+v paste_from_clipboard
map f5 load_config ~/.config/kitty/kitty.conf

# Window layout
remember_window_size  no
initial_window_width  950
initial_window_height 500

window_padding_width 10

# Tabs
tab_bar_margin_width      9
tab_bar_margin_height     9 0
tab_bar_style             separator
tab_bar_min_tabs          1
tab_separator             ""
tab_title_template        "{fmt.fg._5c6370}{fmt.bg.default}{fmt.fg._abb2bf}{fmt.bg._5c6370} {title[:15] + (title[15:] and '…')} ⌘{index}{fmt.fg._5c6370}{fmt.bg.default} "
active_tab_title_template "{fmt.fg._e5c07b}{fmt.bg.default}{fmt.fg._282c34}{fmt.bg._e5c07b} {title[:40] + (title[40:] and '…')} ⌘{index}{fmt.fg._e5c07b}{fmt.bg.default} "
tab_bar_edge top

# Colors
background_opacity 0.9