# font
font_family   Fira Code

# Shortcuts
map shift+insert no_op
map ctrl+shift+v paste_from_clipboard
map f5 load_config ~/.config/kitty/kitty.conf

# Window layout
remember_window_size  no
initial_window_width  950
initial_window_height 500

window_padding_width 10

# Tabs
tab_bar_style         custom

# Colors
background_opacity 0.9